Repository SOPT-33th-Joint-Seminar-WEB-1/Client, pull requests merged in 2023-12, with the labels that each got.

#106 [DetailsPage, Common] 페이지 간, 페이지 내 이동 구현 및 전체 폰트 설정 수정
  src/components/detail/DetailBookIntro.tsx
  src/components/detail/DetailBottomBar.tsx
  src/components/detail/DetailEvent.tsx
  src/components/detail/DetailNavBar.tsx
  src/components/detail/DetailReturnRefund.tsx
  src/components/detail/DetailReviewSummary.tsx
  src/components/detail/DetailSellUsedBook.tsx
  src/pages/Detail.tsx
  src/styles/GlobalStyle.ts
Labels: setting ⚙️, feature ✨, common 👥, details 👀

#107 [CartPage] 장바구니 아이템 개수 변경 구현
  src/apis/cart.ts
  src/apis/editorchoice.ts
  src/assets/icons/ic_btn_page.svg
  src/assets/icons/ic_close_quota.svg
  src/assets/icons/ic_funding_bar.svg
  src/assets/icons/ic_open_quota.svg
  src/assets/icons/index.ts
  src/components/cart/AladinCoffee.tsx
  src/components/cart/AladinGoods.tsx
  src/components/cart/Book.tsx
  src/components/cart/BottomBar.tsx
  src/components/cart/CartList.tsx
  src/components/cart/Receipt.tsx
  src/components/common/AllCategory.tsx
  src/components/common/CategoryNav.tsx
  src/components/common/Header.tsx
  src/components/common/TopNav.tsx
  src/components/home/AdditionalInfos.tsx
  src/components/home/AladinerTVSlider.tsx
  src/components/home/AnotherCover.tsx
  src/components/home/BookFund.tsx
  src/components/home/BookSlider.tsx
  src/components/home/CardReviewSlider.tsx
  src/components/home/DiscountBookSlider.tsx
  src/components/home/EditorSelect.tsx
  src/components/home/HotBook.tsx
  src/components/home/HotBookBanner.tsx
  src/components/home/MadeGift.tsx
  src/components/home/MadeGiftBanner.tsx
  src/components/home/OneSentence.tsx
  src/components/home/PureBookSlider.tsx
  src/components/home/SectionHeader.tsx
  src/components/home/SlideBanner.tsx
  src/components/home/ToBeContinuedSlider.tsx
  src/components/home/TodayPoem.tsx
  src/components/home/TopTen.tsx
  src/constants/home.ts
  src/hooks/useCart.ts
  src/hooks/useCartCount.ts
  src/hooks/useGetEditorChoice.ts
  src/pages/Home.tsx
  src/recoil/atoms/receiptState.ts
  src/styles/theme.ts
  src/utils/CartItemProps.ts
  src/utils/EditorChoiceProps.ts
  src/utils/PriceType.ts
Labels: feature ✨, cart 🛒, api 📡

#113 [CartPage] develop으로 merge
  src/apis/cart.ts
  src/components/cart/Book.tsx
  src/components/cart/BottomBar.tsx
  src/components/cart/CartHeader.tsx
  src/components/cart/CartList.tsx
  src/components/cart/Filter.tsx
  src/components/cart/Nav.tsx
  src/components/cart/Receipt.tsx
  src/hooks/useCart.ts
  src/pages/Cart.tsx
  src/recoil/atoms/cartListState.ts
  src/recoil/atoms/receiptState.ts
  src/utils/CartItemProps.ts
  src/utils/Price.ts
  src/utils/PriceType.ts
Labels: cart 🛒, merge 🌱

#112 [DetailsPage] 상세페이지 QA
  src/assets/imgs/img_event_2.png
  src/components/best/Book.tsx
  src/components/best/CategoryButton.tsx
  src/components/best/Pagenation.tsx
  src/components/best/Period.tsx
  src/components/best/PeriodSelector.tsx
  src/components/common/BackButton.tsx
  src/components/common/BottomNav.tsx
  src/components/common/BuyWith.tsx
  src/components/common/TopButton.tsx
  src/components/common/TopNav.tsx
  src/components/detail/ClickWith.tsx
  src/components/detail/DetailAuthorIntro.tsx
  src/components/detail/DetailBookContents.tsx
  src/components/detail/DetailBookEtc.tsx
  src/components/detail/DetailBookInfoBox.tsx
  src/components/detail/DetailBookIntro.tsx
  src/components/detail/DetailBookSummary.tsx
  src/components/detail/DetailCarousel.tsx
  src/components/detail/DetailEvent.tsx
  src/components/detail/DetailMyReview.tsx
  src/components/detail/DetailNavBar.tsx
  src/components/detail/DetailPostReview.tsx
  src/components/detail/DetailPublisherIntro.tsx
  src/components/detail/DetailReviewSummary.tsx
  src/components/detail/DetailSellUsedBook.tsx
  src/components/detail/DetailSeries.tsx
  src/pages/Cart.tsx
  src/pages/Detail.tsx
  src/pages/Home.tsx
  src/styles/GlobalStyle.ts
  src/styles/theme.ts
Labels: setting ⚙️, feature ✨, common 👥, details 👀

#114 [DetailsPage] Feature/details page -> develop 머지
  src/assets/imgs/img_event_2.png
  src/components/best/Book.tsx
  src/components/best/CategoryButton.tsx
  src/components/best/Pagenation.tsx
  src/components/best/Period.tsx
  src/components/best/PeriodSelector.tsx
  src/components/common/BackButton.tsx
  src/components/common/BottomNav.tsx
  src/components/common/BuyWith.tsx
  src/components/common/TopButton.tsx
  src/components/common/TopNav.tsx
  src/components/detail/ClickWith.tsx
  src/components/detail/DetailAuthorIntro.tsx
  src/components/detail/DetailBookContents.tsx
  src/components/detail/DetailBookEtc.tsx
  src/components/detail/DetailBookInfoBox.tsx
  src/components/detail/DetailBookIntro.tsx
  src/components/detail/DetailBookSummary.tsx
  src/components/detail/DetailBottomBar.tsx
  src/components/detail/DetailBuyerReviewList.tsx
  src/components/detail/DetailCarousel.tsx
  src/components/detail/DetailEvent.tsx
  src/components/detail/DetailMyReview.tsx
  src/components/detail/DetailMyReviewItem.tsx
  src/components/detail/DetailNavBar.tsx
  src/components/detail/DetailPostReview.tsx
  src/components/detail/DetailPublisherIntro.tsx
  src/components/detail/DetailReturnRefund.tsx
  src/components/detail/DetailReviewSummary.tsx
  src/components/detail/DetailSellUsedBook.tsx
  src/components/detail/DetailSeries.tsx
  src/constants/DETAIL_TEXTS.ts
  src/pages/Cart.tsx
  src/pages/Detail.tsx
  src/pages/Home.tsx
  src/styles/GlobalStyle.ts
  src/styles/theme.ts
Labels: details 👀, merge 🌱

#119 [Common] 베스트 아이템에서 상세로 navigate
  src/components/best/Book.tsx
  src/components/best/BookList.tsx
Labels: best 👍🏻, api 📡

#122 [Common] 스타일린트 적용
  .husky/pre-commit
  src/components/best/Category.tsx
  src/components/cart/AladinCoffee.tsx
  src/components/cart/AladinGoods.tsx
  src/components/common/AllCategory.tsx
  src/components/common/CategoryNav.tsx
  src/components/detail/DetailBottomBar.tsx
  src/components/detail/DetailBuyerReviewItem.tsx
  src/components/detail/DetailMyPaper.tsx
  src/components/detail/DetailMyReview.tsx
  src/components/detail/DetailReviewGraph.tsx
  src/components/detail/DetailSellUsedBook.tsx
  src/components/home/AdditionalInfos.tsx
  src/components/home/AladinerTVSlider.tsx
  src/components/home/AnotherCover.tsx
  src/components/home/BookFund.tsx
  src/components/home/BookSlider.tsx
  src/components/home/CardReviewSlider.tsx
  src/components/home/DiscountBookSlider.tsx
  src/components/home/EditorSelect.tsx
  src/components/home/HotBook.tsx
  src/components/home/HotBookBanner.tsx
  src/components/home/MadeGift.tsx
  src/components/home/MadeGiftBanner.tsx
  src/components/home/OneSentence.tsx
  src/components/home/PureBookSlider.tsx
  src/components/home/SectionHeader.tsx
  src/components/home/SlideBanner.tsx
  src/components/home/ToBeContinuedSlider.tsx
  src/components/home/TodayPoem.tsx
  src/components/home/TopTen.tsx
Labels: common 👥, refactor ♻️

#126 Deploy : 빌드 에러 수정
  src/components/detail/DetailAuthorIntro.tsx
  src/components/detail/DetailBookContents.tsx
  src/components/detail/DetailBookEtc.tsx
  src/components/detail/DetailBookInfoBox.tsx
  src/components/detail/DetailBookSummary.tsx
  src/components/detail/DetailBuyerReviewItem.tsx
  src/components/detail/DetailBuyerReviewList.tsx
  src/components/detail/DetailCarousel.tsx
  src/components/detail/DetailMyReview.tsx
  src/components/detail/DetailMyReviewItem.tsx
  src/components/detail/DetailPublisherIntro.tsx
  src/components/detail/DetailSellUsedBook.tsx
  src/components/detail/DetailSeries.tsx
Labels: merge 🌱

#128 [Deploy] 커서 포인터 설정, 상세페이지 별 띄워주기
  src/components/best/Book.tsx
  src/components/best/CategoryButton.tsx
  src/components/cart/Book.tsx
  src/components/cart/CartHeader.tsx
  src/components/common/CategoryNav.tsx
  src/components/common/TopNav.tsx
  src/components/detail/DetailBookEtc.tsx
Labels: feature ✨

#130 [Common] 상단 내비게이션, 장바구니 뒤로가기 수정
  src/components/cart/CartHeader.tsx
  src/components/common/Header.tsx
  src/components/common/TopNav.tsx
Labels: common 👥, cart 🛒, fix 🔧

#132 [Common] position: fixed 요소 위치 조정
  src/components/common/AllCategory.tsx
  src/components/common/BackButton.tsx
  src/components/common/TopButton.tsx
Labels: common 👥, fix 🔧

#134 [Cart] 장바구니 총 개수 누락 수정
  src/components/cart/CartList.tsx
Labels: cart 🛒, fix 🔧
