Repository SOPT-33th-Joint-Seminar-WEB-1/Client, pull requests merged in 2023-11, with the labels that each got.

#10 Init/#4 globalstyle
  index.html
  package.json
  src/App.css
  src/App.tsx
  src/index.css
  src/styles/GlobalStyle.ts
  src/styles/theme.ts
  yarn.lock
Labels: init

#17 [init] svgr 플러그인 에러 해결
  svg.d.ts
  tsconfig.json
Labels: init

#18 [Init] svgr 문법 관련 문제 해결
  src/App.tsx
  src/assets/icons/index.ts
  src/main.tsx
  src/svg.d.ts
  tsconfig.json
  vite.config.ts
Labels: init

#20 [init] GlobalStyle 폰트 추가
  .eslintrc.cjs
  src/assets/fonts/AppleSDGothicNeo/AppleSDGothicNeoB.ttf
  src/assets/fonts/AppleSDGothicNeo/AppleSDGothicNeoEB.ttf
  src/assets/fonts/AppleSDGothicNeo/AppleSDGothicNeoH.ttf
  src/assets/fonts/AppleSDGothicNeo/AppleSDGothicNeoL.ttf
  src/assets/fonts/AppleSDGothicNeo/AppleSDGothicNeoM.ttf
  src/assets/fonts/AppleSDGothicNeo/AppleSDGothicNeoR.ttf
  src/assets/fonts/AppleSDGothicNeo/AppleSDGothicNeoSB.ttf
  src/assets/fonts/AppleSDGothicNeo/AppleSDGothicNeoT.ttf
  src/assets/fonts/AppleSDGothicNeo/AppleSDGothicNeoUL.ttf
  src/assets/fonts/fonts.d.ts
  src/styles/GlobalStyle.ts
Labels: init

#27 [BestPage] 베스트 페이지 UI 구현
  src/assets/icons/ic_ranknumber.svg
  src/assets/imgs/bookImg.png
  src/components/best/Book.tsx
  src/components/best/BookList.tsx
  src/components/best/Category.tsx
  src/components/best/CategoryButton.tsx
  src/components/best/Pagenation.tsx
  src/components/best/Period.tsx
  src/components/best/PeriodSelector.tsx
  src/components/common/AllCategory.tsx
  src/components/common/CategoryNav.tsx
  src/constants/bestCategory.ts
  src/constants/tag.ts
  src/pages/Best.tsx
  src/styles/theme.ts
Labels: feature

#30 [CartPage] 장바구니 리스트, 영수증 UI 구현
  src/components/cart/Book.tsx
  src/components/cart/CartHeader.tsx
  src/components/cart/CartList.tsx
  src/components/cart/Filter.tsx
  src/components/cart/Nav.tsx
  src/components/cart/Receipt.tsx
  src/pages/Cart.tsx
Labels: feature

#35 [DetailsPage] 상세 페이지 상단 UI 구현
  src/App.tsx
  src/assets/icons/ic_checkbox_unchecked_grey.svg
  src/assets/icons/ic_ellipse_51.svg
  src/assets/icons/ic_ellipse_51_grey.svg
  src/assets/icons/ic_enter_xs_grey.svg
  src/assets/icons/ic_quick_delivery.svg
  src/assets/icons/ic_star_0.svg
  src/assets/icons/ic_star_1.svg
  src/assets/icons/ic_star_2.svg
  src/assets/icons/ic_star_3.svg
  src/assets/icons/ic_star_4.svg
  src/assets/icons/ic_star_5.svg
  src/assets/icons/index.ts
  src/assets/imgs/ImgDetailBookCover.svg
  src/assets/imgs/img_event_1.png
  src/components/detail/DetailAuthorIntro.tsx
  src/components/detail/DetailBookContents.tsx
  src/components/detail/DetailBookEtc.tsx
  src/components/detail/DetailBookInfoBox.tsx
  src/components/detail/DetailBookIntro.tsx
  src/components/detail/DetailBookSummary.tsx
  src/components/detail/DetailEvent.tsx
  src/components/detail/DetailNavBar.tsx
  src/components/detail/DetailPublisherIntro.tsx
  src/components/detail/DetailSellUsedBook.tsx
  src/components/detail/DetailSeries.tsx
  src/constants/detail.ts
  src/pages/Detail.tsx
  src/styles/GlobalStyle.ts
  src/styles/theme.ts
Labels: feature

#44 [DetailsPage] 리뷰, 구매자 분포, 평점 분포 UI 구현
  src/components/detail/DetailBookInfoBox.tsx
  src/components/detail/DetailReviewGraph.tsx
  src/components/detail/DetailReviewSummary.tsx
  src/pages/Detail.tsx
Labels: feature ✨

#40 [HomePage] 지금 화제의 책, 알라딘이 만든 사은품 UI 구현
  src/components/home/HotBook.tsx
  src/components/home/HotBookBanner.tsx
  src/components/home/MadeGift.tsx
  src/components/home/MadeGiftBanner.tsx
  src/constants/home.ts
  src/pages/Home.tsx
Labels: feature ✨, home 🏠

#46 [CartPage] 장바구니 하단 UI 구현
  src/assets/imgs/buy_with_book_1.png
  src/assets/imgs/buy_with_book_2.png
  src/assets/imgs/buy_with_book_3.png
  src/assets/imgs/coffee1.png
  src/assets/imgs/coffee2.png
  src/assets/imgs/coffee3.png
  src/assets/imgs/coffee_price.png
  src/assets/imgs/goods1.png
  src/assets/imgs/goods2.png
  src/assets/imgs/goods3.png
  src/components/cart/AladinCoffee.tsx
  src/components/cart/AladinGoods.tsx
  src/components/cart/Book.tsx
  src/components/cart/BottomBar.tsx
  src/components/cart/CartHeader.tsx
  src/components/cart/Filter.tsx
  src/components/cart/Nav.tsx
  src/components/cart/Receipt.tsx
  src/components/common/BuyWith.tsx
  src/pages/Cart.tsx
Labels: feature ✨, cart 🛒

#54 [common] 함께 구매한 책 배경색 추가
  src/assets/imgs/coffee1.png
  src/assets/imgs/coffee2.png
  src/assets/imgs/coffee3.png
  src/assets/imgs/coffee_price.png
  src/assets/imgs/goods1.png
  src/assets/imgs/goods2.png
  src/assets/imgs/goods3.png
  src/components/cart/AladinCoffee.tsx
  src/components/cart/AladinGoods.tsx
  src/components/cart/Book.tsx
  src/components/cart/BottomBar.tsx
  src/components/cart/CartHeader.tsx
  src/components/cart/CartList.tsx
  src/components/cart/Filter.tsx
  src/components/cart/Nav.tsx
  src/components/cart/Receipt.tsx
  src/components/common/BuyWith.tsx
  src/pages/Cart.tsx
Labels: common 👥, fix 🔧

#55 [CartPage] BackButton props 추가
  src/components/common/AllCategory.tsx
  src/components/common/BackButton.tsx
  src/components/common/BuyWith.tsx
  src/components/common/CategoryNav.tsx
  src/components/common/Footer.tsx
  src/components/common/Header.tsx
  src/components/common/TopButton.tsx
  src/components/common/TopNav.tsx
  src/pages/Cart.tsx
Labels: cart 🛒, fix 🔧

#57 [Setting] API 모듈화 초기 세팅
  package.json
  src/apis/api.ts
  src/pages/Cart.tsx
  yarn.lock
Labels: setting ⚙️

#49 [DetailsPage] 100자평 UI 구현
  src/components/detail/DetailPostReview.tsx
  src/constants/detail.ts
  src/pages/Detail.tsx
Labels: feature ✨, details 👀

#59 [DetailsPage] 구매자 리뷰 리스트 UI 구현
  src/assets/icons/ic_details_select_rectangle.svg
  src/assets/icons/index.ts
  src/components/detail/DetailAuthorIntro.tsx
  src/components/detail/DetailBookContents.tsx
  src/components/detail/DetailBookIntro.tsx
  src/components/detail/DetailBuyerReviewItem.tsx
  src/components/detail/DetailBuyerReviewList.tsx
  src/components/detail/DetailPublisherIntro.tsx
  src/constants/DETAIL_REVIEW_LIST.tsx
  src/constants/DETAIL_TEXTS.ts
  src/pages/Detail.tsx
Labels: feature ✨, details 👀

#51 [BestPage] 스타일 수정, 공통컴포넌트 props 수정
  src/assets/imgs/buy_with_book_1.png
  src/assets/imgs/buy_with_book_2.png
  src/assets/imgs/buy_with_book_3.png
  src/components/best/Category.tsx
  src/components/best/CategoryButton.tsx
  src/components/common/AllCategory.tsx
  src/components/common/BackButton.tsx
  src/components/common/BuyWith.tsx
  src/components/common/CategoryNav.tsx
  src/components/common/Footer.tsx
  src/components/common/Header.tsx
  src/components/common/TopButton.tsx
  src/components/common/TopNav.tsx
  src/pages/Best.tsx
Labels: best 👍🏻, fix 🔧

#60 feat : 장바구니 개수 API 연결
  src/apis/cart.ts
  src/components/common/Header.tsx
  src/hooks/useCartCount.ts
Labels: feature ✨, common 👥

#62 [HomePage] 도서 슬라이드 컴포넌트 구현
  src/components/home/BookSlider.tsx
  src/components/home/DiscountBookSlider.tsx
  src/components/home/MadeGift.tsx
  src/constants/home.ts
  src/pages/Home.tsx
Labels: feature ✨, home 🏠

#69 [Common] css 컨벤션 관련 패키지 설치
  .stylelintrc
  package.json
  yarn.lock
Labels: setting ⚙️, common 👥

#67 [HomePage] 이 책의 한 문장 & 어나더커버 UI 구현
  src/assets/icons/ic_close_quota.svg
  src/assets/icons/ic_open_quota.svg
  src/assets/icons/index.ts
  src/components/home/AnotherCover.tsx
  src/components/home/OneSentence.tsx
  src/components/home/PureBookSlider.tsx
  src/constants/home.ts
  src/pages/Home.tsx
Labels: feature ✨, home 🏠

#64 [BestPage] Best 책 리스트 API 연동
  package.json
  src/apis/api.ts
  src/apis/best.ts
  src/apis/cart.ts
  src/assets/icons/ic_rank_icon_large.svg
  src/assets/icons/index.ts
  src/assets/imgs/coffee1.png
  src/assets/imgs/coffee2.png
  src/assets/imgs/coffee3.png
  src/assets/imgs/coffee_price.png
  src/assets/imgs/goods1.png
  src/assets/imgs/goods2.png
  src/assets/imgs/goods3.png
  src/components/best/Book.tsx
  src/components/best/BookList.tsx
  src/components/cart/AladinCoffee.tsx
  src/components/cart/AladinGoods.tsx
  src/components/cart/Book.tsx
  src/components/cart/BottomBar.tsx
  src/components/cart/CartHeader.tsx
  src/components/cart/CartList.tsx
  src/components/cart/Filter.tsx
  src/components/cart/Nav.tsx
  src/components/cart/Receipt.tsx
  src/components/common/BuyWith.tsx
  src/components/common/Header.tsx
  src/hooks/useBest.ts
  src/hooks/useCartCount.ts
  src/pages/Cart.tsx
  src/utils/BookProps.ts
  yarn.lock
Labels: feature ✨, best 👍🏻

#74 [Common] Recoil 적용
  package.json
  src/main.tsx
  src/recoil/atoms/cartCountState.ts
  yarn.lock
Labels: setting ⚙️, common 👥

#75 [HomePage] 북펀드 & 투비컨티뉴드 추천 노트 UI 구현
  .stylelintrc
  package.json
  src/apis/api.ts
  src/apis/cart.ts
  src/assets/icons/ic_funding_bar.svg
  src/assets/icons/ic_ranknumber.svg
  src/assets/icons/index.ts
  src/assets/imgs/bookImg.png
  src/assets/imgs/buy_with_book_1.png
  src/assets/imgs/buy_with_book_2.png
  src/assets/imgs/buy_with_book_3.png
  src/assets/imgs/coffee1.png
  src/assets/imgs/coffee2.png
  src/assets/imgs/coffee3.png
  src/assets/imgs/coffee_price.png
  src/assets/imgs/goods1.png
  src/assets/imgs/goods2.png
  src/assets/imgs/goods3.png
  src/components/best/Book.tsx
  src/components/best/BookList.tsx
  src/components/best/Category.tsx
  src/components/best/CategoryButton.tsx
  src/components/best/Pagenation.tsx
  src/components/best/Period.tsx
  src/components/best/PeriodSelector.tsx
  src/components/cart/AladinCoffee.tsx
  src/components/cart/AladinGoods.tsx
  src/components/cart/Book.tsx
  src/components/cart/BottomBar.tsx
  src/components/cart/CartHeader.tsx
  src/components/cart/CartList.tsx
  src/components/cart/Filter.tsx
  src/components/cart/Nav.tsx
  src/components/cart/Receipt.tsx
  src/components/common/AllCategory.tsx
  src/components/common/BackButton.tsx
  src/components/common/BuyWith.tsx
  src/components/common/CategoryNav.tsx
  src/components/common/Footer.tsx
  src/components/common/Header.tsx
  src/components/common/TopButton.tsx
  src/components/common/TopNav.tsx
  src/components/home/BookFund.tsx
  src/components/home/ToBeContinuedSlider.tsx
  src/constants/bestCategory.ts
  src/constants/home.ts
  src/constants/tag.ts
  src/hooks/useCartCount.ts
  src/pages/Best.tsx
  src/pages/Cart.tsx
  src/pages/Home.tsx
  src/styles/theme.ts
  yarn.lock
Labels: feature ✨, home 🏠

#76 [BestPage] 장바구니 추가 API 연동
  .stylelintrc
  package.json
  src/apis/cart.ts
  src/components/best/Book.tsx
  src/components/best/BookList.tsx
  src/components/best/Category.tsx
  src/components/best/Toast.tsx
  src/components/common/Header.tsx
  src/hooks/useCart.ts
  src/hooks/useCartCount.ts
  src/main.tsx
  src/recoil/atoms/cartCountState.ts
  src/utils/BookProps.ts
  yarn.lock
Labels: feature ✨, best 👍🏻

#79 [BestPage] develop 브랜치로 merge
  src/apis/best.ts
  src/apis/cart.ts
  src/assets/icons/ic_rank_icon_large.svg
  src/assets/icons/index.ts
  src/components/best/Book.tsx
  src/components/best/BookList.tsx
  src/components/best/Category.tsx
  src/components/best/CategoryButton.tsx
  src/components/best/Toast.tsx
  src/components/common/Header.tsx
  src/hooks/useBest.ts
  src/hooks/useCart.ts
  src/hooks/useCartCount.ts
  src/pages/Best.tsx
  src/utils/BookProps.ts
Labels: best 👍🏻, merge 🌱

#80 [Common] Toast 컴포넌트 공통 컴포넌트로 이동
  src/components/best/Book.tsx
  src/components/common/AllCategory.tsx
  src/components/common/BackButton.tsx
  src/components/common/BottomNav.tsx
  src/components/common/BuyWith.tsx
  src/components/common/CategoryNav.tsx
  src/components/common/Footer.tsx
  src/components/common/Header.tsx
  src/components/common/Toast.tsx
  src/components/common/TopButton.tsx
  src/components/common/TopNav.tsx
Labels: common 👥, refactor ♻️

#89 [CartPage] develop 브랜치로 merge
  src/apis/cart.ts
  src/components/cart/Book.tsx
  src/components/cart/CartList.tsx
  src/hooks/useCart.ts
  src/utils/CartItemProps.ts
Labels: cart 🛒, merge 🌱

#86 [DetailsPage] 상세페이지 api 연결
  src/apis/book.ts
  src/apis/heart.ts
  src/apis/review.ts
  src/components/Router.tsx
  src/components/detail/DetailBookEtc.tsx
  src/components/detail/DetailBookSummary.tsx
  src/components/detail/DetailBottomBar.tsx
  src/components/detail/DetailPostReview.tsx
  src/components/detail/DetailSeries.tsx
  src/hooks/useGetDetailBook.ts
  src/hooks/usePostHeart.ts
  src/hooks/usePostReview.ts
  src/pages/Detail.tsx
  src/utils/DetailBookProps.ts
  src/utils/HeartProps.ts
  src/utils/ReviewProps.ts
Labels: details 👀, api 📡

#83 [HomePage] 오늘의 시, 카드리뷰, 알라디너 TV UI , 하단 Info UI 구현
  src/assets/icons/ic_btn_page.svg
  src/assets/icons/index.ts
  src/components/home/AdditionalInfos.tsx
  src/components/home/AladinerTVSlider.tsx
  src/components/home/AnotherCover.tsx
  src/components/home/BookFund.tsx
  src/components/home/CardReviewSlider.tsx
  src/components/home/HotBookBanner.tsx
  src/components/home/MadeGift.tsx
  src/components/home/MadeGiftBanner.tsx
  src/components/home/OneSentence.tsx
  src/components/home/SlideBanner.tsx
  src/components/home/ToBeContinuedSlider.tsx
  src/components/home/TodayPoem.tsx
  src/components/home/TopTen.tsx
  src/constants/home.ts
  src/pages/Home.tsx
Labels: feature ✨, home 🏠

#97 [DetailsPage]더보기, 접기 구현 및 폰트 설정 변경
  src/components/detail/DetailAuthorIntro.tsx
  src/components/detail/DetailBookContents.tsx
  src/components/detail/DetailBookIntro.tsx
  src/components/detail/DetailBuyerReviewList.tsx
  src/components/detail/DetailCarousel.tsx
  src/components/detail/DetailMyReviewItem.tsx
  src/components/detail/DetailPublisherIntro.tsx
  src/constants/DETAIL_TEXTS.ts
  src/styles/GlobalStyle.ts
  src/styles/theme.ts
Labels: feature ✨, details 👀
